@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    This application was build as my attemp to code along with the Pluralsight course "ASP.NET Core Fundamentals" by Scott Allen. <br />
    My goal with this project was to learn more about Entity Framework, Razor Pages and API controllers.
</p>
<div>
    <strong>More information about the course: </strong> <a href="https://app.pluralsight.com/library/courses/aspnet-core-fundamentals/table-of-contents">
        ASP.NET Core Fundamentals
    </a>
</div>